<ion-header>
    <ion-toolbar class="ion-text-center">
        <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu-principal" text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-uppercase">Restaurar</ion-title>
        <ion-buttons slot="end">
        <ion-menu-button menuId="main-content"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>   
</ion-header>
<ion-content>
    <ion-spinner name="lines" color="success"></ion-spinner>        
</ion-content>      