.cabecalho-tabela{
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    text-align: center;   
}

.col-cabecalho-tabela{
    border-right: 1px solid #FFFF;
    border-left: 1px solid #FFFF;
    text-align: center;
    font-family: var(--ion-font-family,inherit);
    font-size: 0.9rem;
}

.col-tabela{
    border-right: 1px solid #FFFF;
    border-left: 1px solid #FFFF;
    text-align: center;
    color: var(--ion-color-primary);
    font-family: var(--ion-font-family,inherit);
    font-size: 0.9rem;
}

.col-icon-tabela{
   text-align: center;
   color: var(--ion-color-primary);    
}

.text-col-tabela-center{
    text-align: center;
}

.text-col-tabela-left{
    text-align: left; 
}

.textarea-margin-background{
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: var(--ion-color-light-tint);
}

.label-floating.sc-ion-label-md-h, .label-stacked.sc-ion-label-md-h{
    font-size: 22px;
}