<ion-content fullscreen scroll-y="false">
    <ion-item class="close" lines="none">
        <ion-title>Imagem</ion-title>
        <ion-buttons slot="end">
        <ion-button (click)="fecharModal()" fill="clear" class="button-modal">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>        
        </ion-button>
        </ion-buttons>
    </ion-item>
    <ion-grid>
        <ion-row>
        <ion-col>
            <img [src]="imagem"/> 
        </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>