.ion-item-sliding {
    display: block;
    position: relative;
    width: 95%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.ion-margin-bottom, [margin-bottom] {
    margin-bottom: var(--ion-margin, 16px);
    margin-bottom: var(--ion-margin, 2px);
}                   

ion-item-options{
    ion-button{
      height: auto;
    }
  }
  
ion-item-sliding{

    ion-item{
        --inner-border-width: 0 0 0px 0;
        --border-width: 1px 1px 1px;
        --border-radius: 10px;
        --border-color:var(--ion-color-secondary-shade);
        margin-block-start: 2px;
        margin-block-end: 5px;
    }  
}

ion-select {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: var(--ion-color-light-tint);   
}

ion-datetime {
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: var(--ion-color-light-tint); 
    opacity: unset;  
}

.item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h, .item-has-placeholder.label-floating.sc-ion-label-md-h, .item-has-placeholder .label-floating.sc-ion-label-md-h, .item-has-value.label-floating.sc-ion-label-md-h, .item-has-value .label-floating.sc-ion-label-md-h{
    font-size: 22px;
}

.item-has-focus.label-floating.sc-ion-label-ios-h, .item-has-focus .label-floating.sc-ion-label-ios-h, .item-has-placeholder.label-floating.sc-ion-label-ios-h, .item-has-placeholder .label-floating.sc-ion-label-ios-h, .item-has-value.label-floating.sc-ion-label-ios-h, .item-has-value .label-floating.sc-ion-label-ios-h{
    font-size: 22px;
    transform: none;
}

.label-floating.sc-ion-label-ios-h{
    font-size: 22px;
}

.textarea-margin-background{
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: var(--ion-color-light-tint);
}

.iconCalendar {
    margin-top: auto;
}

ion-input {
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: var(--ion-color-light-tint); 
    opacity: unset; 
    font-weight: 100; 
}

.label-size18-left10{
    font-size: 18px;
    margin-left: 10px;
}