<ion-header>
    <ion-toolbar class="ion-text-center">
        <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu-principal" text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-uppercase">Abrir Acompanhamento</ion-title>
        <ion-buttons slot="end">
        <ion-menu-button menuId="main-content"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>   
</ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="filtroBeneficiario" (keyup)="filtrarBeneficiario($event)" (ionCancel)="cancelaFiltroBeneficiario()" (ionClear)="cancelaFiltroBeneficiario()" cancelButtonText="Cancelar" placeholder="Beneficiário" [debounce]="250" inputmode="text" type="text" enterkeyhint="search" animated #searchInput></ion-searchbar> 
  <ion-list *ngFor="let beneficiario of listaBeneficiariosFiltrados">
    <ion-card>
      <ion-card-header>
        <ion-row (click)="selecionarBeneficiario(beneficiario)">        
          <ion-col size="10">
              <ion-card-title>Cartão: <span [innerHTML]="beneficiario.carteiraBeneficiario"></span></ion-card-title>
          </ion-col>
          <ion-col size="2">
              <ion-button size="small" fill="clear">
                  <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>               
              </ion-button>                
          </ion-col>            
        </ion-row>
      </ion-card-header>
      <ion-card-content class="card-conteudo">      
        <ion-row>
          <ion-col>
            <span class="texto-card-label">Beneficiário: </span><span class="texto-card-text" [innerHTML]="beneficiario.nomeBeneficiario"></span>
            <br>
            <span class="texto-card-label">Data de Nascimento: </span><span class="texto-card-text" [innerHTML]="beneficiario.dataNascimento"></span>
            <br>
            <span class="texto-card-label">Data Emissão: </span><span class="texto-card-text" [innerHTML]="beneficiario.datEmissaoCarteira"></span>
            <br>
            <span class="texto-card-label">Data Validade: </span><span class="texto-card-text" [innerHTML]="beneficiario.datValidadeCarteira"></span>
            <br>
            <span class="texto-card-label">Idade: </span><span class="texto-card-text" [innerHTML]="beneficiario.idade"></span>
            <br>
            <span class="texto-card-label">Sexo: </span><span class="texto-card-text" [innerHTML]="beneficiario.sexo"></span>
          </ion-col>             
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>  

  