.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  ion-card-title {
      --color: var(--ion-color-primary);
      margin-bottom: .4em;
      font-size: 20px;
  }

  ion-card-subtitle {
    --color: var(--ion-color-primary);
}

  ion-icon {
    font-size: 50px;
  }

  .padding-top-80{
    padding-top: 80px;
  }
  .margin-top-40{
    margin-top: 40px;
  }

  .scroll-content {
    overflow-y: auto;
}

  ion-card {
    padding: 10px;
    margin: 2px;
  }

}

.image-footer{
  width: 50%;
  height: 320%;
}

ion-button {
  ion-badge {
      position: absolute;
      top: -0.2rem;
      right: -0.2rem;
      opacity: 0.9;

      & ~ ion-icon {
          margin-right: 1.2rem;
      }
  }
  
}

@media (max-width: 320px), (max-height: 320px){
 ion-card-title {
    font-size: 1.1rem !important;
  }

  ion-icon {
    font-size: 40px !important;
  }
}