.scroll-content {
    padding-bottom: 0 !important;
}
ion-item {
    --background: transparent;
    --color: var(--ion-color-dark-contrast);
    --border-color: #BFDFDF;
    font-size: 16px;
}

ion-content {
    --background: var(--ion-color-primary);
}

.trocar-operadora {
    color: #f4f5f8;
}

.margin-top-02em {
    margin-top: .2em;
}

.icon-5em {
    font-size: 4em;
}

h1 {
    padding: 0;
    margin: 0;
}

.login-image-header {
    margin: .6em auto .2em;
    width: 40vh;
    max-width: 40vh;
}

.login-image-footer {
    margin: 0 auto .2em;
    width: 40vh;
    max-width: 40vh;
}

.label-floating {
    color: var(--ion-color-primary-contrast) !important;
  }

@media (min-width: 1024px) and (max-width: 1366px) {
    .login-image-header {
        width: 30vh;
        max-width: 30vh;
    }
}

@media (max-width: 576px) {
    .login-image-header {
        width: 20vh;
        max-width: 20vh;
    }

    .login-image-footer {
        margin: 0 auto .2em;
        width: 20vh;
        max-width: 20vh;
    }
}
   