<ion-content> 
    <form [formGroup]="formPopover"> 
        <ion-card>   
            <ion-card-header>
              <ion-card-title class="ion-text-center">Adicionar novo item</ion-card-title>
            </ion-card-header>  
            <ion-item class="ion-input-style">
                <ion-label position="stacked">Código</ion-label>
                <ion-input type="text" inputmode="text" formControlName="codItem" inputmode="text"></ion-input>
            </ion-item>
            <ion-item mode="md" lines="none" class="item-error" *ngIf="(codItem.dirty || codItem.touched) && codItem.hasError('required')">
                <ion-note color="warning" class="ion-padding-horizontal">Campo obrigatório
                  <ion-icon color="warning" class="margin-top-02em" name="alert"></ion-icon>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Descrição</ion-label>
                <ion-input type="text" inputmode="text" formControlName="desItem" inputmode="text"></ion-input>
            </ion-item> 
            <ion-item mode="md" lines="none" class="item-error" *ngIf="(desItem.dirty || desItem.touched) && desItem.hasError('required')">
                <ion-note color="warning" class="ion-padding-horizontal">Campo obrigatório
                  <ion-icon color="warning" class="margin-top-02em" name="alert"></ion-icon>
                </ion-note>
            </ion-item> 
            <ion-item *ngIf="dadoItemGrupoConfigFormulario.tipoItem == 'MEDICAMENTO'">
                <ion-label position="floating">Horário:</ion-label>
                <ion-select formControlName="horario" interface="action-sheet" placeholder="Selecione" cancelText="Cancelar" okTxt="Selecionar">
                    <ion-select-option *ngFor="let horario of listaHorarios" [value]="horario.codDominio">{{ horario.desDominio }}</ion-select-option>
                </ion-select> 
            </ion-item>
            <ion-item *ngIf="exibeCampoOutroHorario && dadoItemGrupoConfigFormulario.tipoItem == 'MEDICAMENTO'">
                <ion-label position="floating">HORÁRIO</ion-label>
                <ion-input type="text" inputmode="text" formControlName="outroHorario" inputmode="text"></ion-input>
            </ion-item>         
            <ion-item mode="md" lines="none" class="item-error" *ngIf="dadoItemGrupoConfigFormulario.tipoItem == 'MEDICAMENTO' && ((outroHorario.dirty || outroHorario.touched) && outroHorario.hasError('required'))">
                <ion-note color="warning" class="ion-padding-horizontal">Campo obrigatório
                    <ion-icon color="warning" class="margin-top-02em" name="alert"></ion-icon>
                </ion-note>
            </ion-item>
        </ion-card>
        <ion-row>
            <ion-col size="6" class="ion-text-center">
                <ion-button expand="block" size="small" (click)="cancelar()">Cancelar</ion-button>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
                <ion-button expand="block" size="small" [disabled]="!formPopover.valid" (click)="confirmar()">Adicionar</ion-button>
            </ion-col>
        </ion-row>    
    </form>    
</ion-content>