ion-icon {
    color: var(--ion-color-primary);
}

labelFiltro{
    font-weight: bold; 
}

ion-input {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 100; 
}

.iconCalendar {
    margin-top: auto;
}
